html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  height: 100%;
  margin: 0;
  display: flex;
}

.App {
  margin-top: 10px;
  padding: 5px;
  /* display: inline-flex; */
}

.container {
  margin-top: 10px;
  text-align: center;
  border: 2px solid blue;
  word-break: break-all;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  align-content: center;

  height: 1000px;
  width: 700px;
}

ul {
border: 1px solid darkorchid;
border-radius: 50%;
font-size: 30px;
padding: 2px;
padding-top: 12px;
margin: 0px;
width: 200px;
text-align: center;
align-self: center;
align-content: center;
align-items: center;
justify-content: center;
/* float: right; */
position: absolute;
}

ul:hover {
  color: #833;
  background-color: aliceblue;
}



/* #scene {
  -webkit-perspective: 600px;
  height: 100%;
  width: 100%;
} */
